
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/css/site.css">
<!-- jQuery library -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.slim.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/js/bootstrap.min.js"></script>
    <title>SignIn</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            {{#if errors}}
            <section class="errors">
              {{#each errors as |item| }}
              <span class="error">{{item.msg}}</span>
              <br/>
              {{/each}}
            </section>
            {{/if}}
            <form class="form-signin" method="post" action="/signIn">
              <div class="form-label-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address"  autofocus>
                <label for="email">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
                <label for="password">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>